@{
    ViewBag.Title = "Home";
}
@model string

<div class="page" id="p1">
    <li class="icon fa fa-home">
        @if (!User.Identity.IsAuthenticated)
        {
            <span class="title">Welcome To</span>
            <h4>MyEthBook</h4>
            <p>You don't remember by heart all of your phone contacts, right? Keep your most used addresses on the blockchain!</p>
            <div class="primary-button">
                @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: null)
            </div>
        }
        else
        {
            <span class="title">Welcome Back To</span>
            <h4>MyEthBook</h4>
            <p>You don't remember by heart all of your phone contacts, right? Keep your most used addresses on the blockchain!</p>
            <div class="primary-button">
                @Html.ActionLink("Go To My Book", "Index", "EthBook", routeValues: null, htmlAttributes: null)
            </div>
        }
    </li>
</div>